<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MagicKingdomSynopsis</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddComingServlet</display-name>
    <servlet-name>AddComingServlet</servlet-name>
    <servlet-class>controller.AddComingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddComingServlet</servlet-name>
    <url-pattern>/AddComingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddMovieServlet</display-name>
    <servlet-name>AddMovieServlet</servlet-name>
    <servlet-class>controller.AddMovieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMovieServlet</servlet-name>
    <url-pattern>/AddMovieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddMovieServlet1</display-name>
    <servlet-name>AddMovieServlet1</servlet-name>
    <servlet-class>controller.AddMovieServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMovieServlet1</servlet-name>
    <url-pattern>/AddMovieServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPictureServlet</display-name>
    <servlet-name>AddPictureServlet</servlet-name>
    <servlet-class>controller.AddPictureServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPictureServlet</servlet-name>
    <url-pattern>/AddPictureServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTheaterServlet</display-name>
    <servlet-name>AddTheaterServlet</servlet-name>
    <servlet-class>controller.AddTheaterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTheaterServlet</servlet-name>
    <url-pattern>/AddTheaterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>controller.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookServ</display-name>
    <servlet-name>BookServ</servlet-name>
    <servlet-class>controller.BookServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookServ</servlet-name>
    <url-pattern>/BookServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CaptchaServlet</display-name>
    <servlet-name>CaptchaServlet</servlet-name>
    <servlet-class>controller.CaptchaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CaptchaServlet</servlet-name>
    <url-pattern>/CaptchaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelateMovieServlet</display-name>
    <servlet-name>DelateMovieServlet</servlet-name>
    <servlet-class>controller.DelateMovieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelateMovieServlet</servlet-name>
    <url-pattern>/DelateMovieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteMovieServlet</display-name>
    <servlet-name>DeleteMovieServlet</servlet-name>
    <servlet-class>controller.DeleteMovieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMovieServlet</servlet-name>
    <url-pattern>/DeleteMovieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserServlet</display-name>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>controller.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/DeleteUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotPasswordServlet</display-name>
    <servlet-name>ForgotPasswordServlet</servlet-name>
    <servlet-class>controller.ForgotPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPasswordServlet</servlet-name>
    <url-pattern>/ForgotPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetPasswordServlet</display-name>
    <servlet-name>ResetPasswordServlet</servlet-name>
    <servlet-class>controller.ResetPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetPasswordServlet</servlet-name>
    <url-pattern>/ResetPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetPasswordServlet1</display-name>
    <servlet-name>ResetPasswordServlet1</servlet-name>
    <servlet-class>controller.ResetPasswordServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetPasswordServlet1</servlet-name>
    <url-pattern>/ResetPasswordServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowScreensServlet</display-name>
    <servlet-name>ShowScreensServlet</servlet-name>
    <servlet-class>controller.ShowScreensServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowScreensServlet</servlet-name>
    <url-pattern>/ShowScreensServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowTheaterServlet</display-name>
    <servlet-name>ShowTheaterServlet</servlet-name>
    <servlet-class>controller.ShowTheaterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowTheaterServlet</servlet-name>
    <url-pattern>/ShowTheaterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowTheatersServlet</display-name>
    <servlet-name>ShowTheatersServlet</servlet-name>
    <servlet-class>controller.ShowTheatersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowTheatersServlet</servlet-name>
    <url-pattern>/ShowTheatersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateMovieServlet</display-name>
    <servlet-name>UpdateMovieServlet</servlet-name>
    <servlet-class>controller.UpdateMovieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateMovieServlet</servlet-name>
    <url-pattern>/UpdateMovieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>controller.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserUpdateServlet</display-name>
    <servlet-name>UserUpdateServlet</servlet-name>
    <servlet-class>controller.UserUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserUpdateServlet</servlet-name>
    <url-pattern>/UserUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddMovie</display-name>
    <servlet-name>AddMovie</servlet-name>
    <servlet-class>dao.AddMovie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMovie</servlet-name>
    <url-pattern>/AddMovie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Dao</display-name>
    <servlet-name>Dao</servlet-name>
    <servlet-class>dao.Dao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dao</servlet-name>
    <url-pattern>/Dao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MgitConn</display-name>
    <servlet-name>MgitConn</servlet-name>
    <servlet-class>dao.MgitConn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MgitConn</servlet-name>
    <url-pattern>/MgitConn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlertServlet</display-name>
    <servlet-name>AlertServlet</servlet-name>
    <servlet-class>email.AlertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlertServlet</servlet-name>
    <url-pattern>/AlertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmailSendingServlet</display-name>
    <servlet-name>EmailSendingServlet</servlet-name>
    <servlet-class>email.EmailSendingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailSendingServlet</servlet-name>
    <url-pattern>/EmailSendingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmailTicketServlet</display-name>
    <servlet-name>EmailTicketServlet</servlet-name>
    <servlet-class>email.EmailTicketServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailTicketServlet</servlet-name>
    <url-pattern>/EmailTicketServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmailUtility</display-name>
    <servlet-name>EmailUtility</servlet-name>
    <servlet-class>email.EmailUtility</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailUtility</servlet-name>
    <url-pattern>/EmailUtility</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MailClass</display-name>
    <servlet-name>MailClass</servlet-name>
    <servlet-class>email.MailClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MailClass</servlet-name>
    <url-pattern>/MailClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendFeedbackServlet</display-name>
    <servlet-name>SendFeedbackServlet</servlet-name>
    <servlet-class>email.SendFeedbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendFeedbackServlet</servlet-name>
    <url-pattern>/SendFeedbackServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendUserDetail</display-name>
    <servlet-name>SendUserDetail</servlet-name>
    <servlet-class>email.SendUserDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendUserDetail</servlet-name>
    <url-pattern>/SendUserDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Helper</display-name>
    <servlet-name>Helper</servlet-name>
    <servlet-class>helper.Helper</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Helper</servlet-name>
    <url-pattern>/Helper</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PasswordGenerator</display-name>
    <servlet-name>PasswordGenerator</servlet-name>
    <servlet-class>helper.PasswordGenerator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PasswordGenerator</servlet-name>
    <url-pattern>/PasswordGenerator</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PasswordMail</display-name>
    <servlet-name>PasswordMail</servlet-name>
    <servlet-class>mail.PasswordMail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PasswordMail</servlet-name>
    <url-pattern>/PasswordMail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginModel</display-name>
    <servlet-name>loginModel</servlet-name>
    <servlet-class>model.loginModel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginModel</servlet-name>
    <url-pattern>/loginModel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Model</display-name>
    <servlet-name>Model</servlet-name>
    <servlet-class>model.Model</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Model</servlet-name>
    <url-pattern>/Model</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegModel</display-name>
    <servlet-name>RegModel</servlet-name>
    <servlet-class>model.RegModel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegModel</servlet-name>
    <url-pattern>/RegModel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NF</display-name>
    <servlet-name>NF</servlet-name>
    <servlet-class>controller.NF</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NF</servlet-name>
    <url-pattern>/NF</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NF1</display-name>
    <servlet-name>NF1</servlet-name>
    <servlet-class>controller.NF1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NF1</servlet-name>
    <url-pattern>/NF1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserR</display-name>
    <servlet-name>UserR</servlet-name>
    <servlet-class>controller.UserR</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserR</servlet-name>
    <url-pattern>/UserR</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserR1</display-name>
    <servlet-name>UserR1</servlet-name>
    <servlet-class>controller.UserR1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserR1</servlet-name>
    <url-pattern>/UserR1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelTicket</display-name>
    <servlet-name>CancelTicket</servlet-name>
    <servlet-class>controller.CancelTicket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelTicket</servlet-name>
    <url-pattern>/CancelTicket</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteMovieTicketServlet</display-name>
    <servlet-name>DeleteMovieTicketServlet</servlet-name>
    <servlet-class>controller.DeleteMovieTicketServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMovieTicketServlet</servlet-name>
    <url-pattern>/DeleteMovieTicketServlet</url-pattern>
  </servlet-mapping>
</web-app>